## WHILE LOOP

In [2]:
# print a name in 10 times

count = 0

while count<10:
    print('prajakta')
    count+= 1  # count = count+1
print('good byee')

prajakta
prajakta
prajakta
prajakta
prajakta
prajakta
prajakta
prajakta
prajakta
prajakta
good byee

In [3]:
count = 1

while count<=20:
    print(count)
    count+= 1  # count = count+1
print('good byee')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
good byee

In [4]:
count

21

In [5]:
# find the addition of numbers in 1 to 10

count = 1
add = 0

while count <=10:
    add=add+count
    count+= 1
print('Addition is:',add)

Addition is: 55

In [6]:
# find the addition of numbers in 1 to 20

count = 1
add = 0

while count <=20:
    add=add+count
    count+= 1
print('Addition is:',add)

Addition is: 210

In [7]:
# find the addition of odd numbers in 1 to 20

count = 1
add = 0

while count <=20:
    add=add+count
    count+= 2
print('Addition is:',add)

Addition is: 100

In [8]:
# find the addition of even numbers in 1 to 20

count = 0
add = 0

while count <=20:
    add=add+count
    count+= 2
print('Addition is:',add)

Addition is: 110

In [9]:
# factorial
num = int(input('Enter the number'))
fact = 1
          
while num > 1:
    fact = fact * num
    num-= 1
    
print('factorial is:',fact)

Enter the number 5

factorial is: 120

In [10]:
# addition of digits

num = int(input('Enter the number'))
add = 0

while num >0:
    rem = num%10
    num = num//10
    add = add+rem
print(add)

Enter the number 15

6

In [11]:
# print 1 to 10 *1  numbers =>also state or odd

count = 1

while count <= 10:
    if count % 2 == 0:
        print(count,':Even')
    else:
        print(count,':Odd')
    count += 1

1 :Odd
2 :Even
3 :Odd
4 :Even
5 :Odd
6 :Even
7 :Odd
8 :Even
9 :Odd
10 :Even

### For Loop

In [13]:
for n in 12,15,47,1,5,8,4:
    print(n)

12
15
47
1
5
8
4

In [14]:
for n in 12,15,47,1,5,8,4:
    print(n/2)

6.0
7.5
23.5
0.5
2.5
4.0
2.0

In [15]:
for n in 12,15,48,15,'abhi',True:
    print(n,end = ' ')

12 15 48 15 abhi True

In [16]:
# range function

In [17]:
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list (range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
list (range(1,10,2))

[1, 3, 5, 7, 9]

In [20]:
list (range(20,10,-2))

[20, 18, 16, 14, 12]

In [21]:
# print the numbers from 0 to 10 using range function

for n in range(11):
    print(n,end = '  ')

0  1  2  3  4  5  6  7  8  9  10

In [22]:
# print name 10 times

for n in range(11):
    print('prajakta')

prajakta
prajakta
prajakta
prajakta
prajakta
prajakta
prajakta
prajakta
prajakta
prajakta
prajakta

In [23]:
# find the addition of 1 t0 10 numbers
add = 0
for n in range(1,11):
    add = add + n
print('Addition is:',add)

Addition is: 55

In [24]:
add = 0
for n in range(1,21,2):
    add = add + n
print('Addition of odd is:',add)

Addition of odd is: 100

In [25]:
name = 'prajakta'

for n in name:
    print(n*3)

ppp
rrr
aaa
jjj
aaa
kkk
ttt
aaa

In [26]:
num = [1,202,56,12,2,3]

for n in num:
    print(n)

1
202
56
12
2
3

In [27]:
# else

In [28]:
num = [1,202,56,12,2,3]

for n in num:
    print(n)
else:
    print('Loop Ended')

1
202
56
12
2
3
Loop Ended

In [29]:
#using for loop find factorial
num = int(input('enter the number'))
fact = 1
for n in range(1,num+1):
    fact = fact * n
print('Fcatorial is:',fact)

enter the number 4

Fcatorial is: 24

## Break

In [31]:
for n in range(10):
    if n == 5:
        break
    print(n)

0
1
2
3
4

In [32]:
count = 0

while count < 10:
    print(count)
    count+= 1  #
    if count == 5:
        break

0
1
2
3
4

## Continue

In [34]:
for n in range(10):
    if n == 5:
        continue
    print(n)
    print('ok')

0
ok
1
ok
2
ok
3
ok
4
ok
6
ok
7
ok
8
ok
9
ok

In [35]:
count = 0

while count < 10:
    count+= 1  
    if count == 5:
        continue
    print(count)

1
2
3
4
6
7
8
9
10

#### Pass

In [37]:
n = 5
if n >1:
    pass

print('ok')

ok

In [38]:
r = int(input('Enter the number of rows'))

for i in range(1,r+1):
    for j in range(i):
        print('*',end = '  ')
    print()

Enter the number of rows 5

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *