In [1]:
class Employee:
    pass

In [2]:
emp1 = Employee()
emp2 = Employee()

In [3]:
print(emp1)

<__main__.Employee object at 0x000001D221160EC0>

In [4]:
print(emp2)

<__main__.Employee object at 0x000001D221163CB0>

In [5]:
emp1.first ='Riya'      # first ,last are instance variable
emp1.last = 'Banarji'
emp1.sal = 51000

In [6]:
emp2.first ='Natasha'      
emp2.last = 'Sharma'
emp2.sal = 52000

In [7]:
print(emp1.last)

Banarji

In [8]:
emp2.sal

52000

In [9]:
class Employee:
    
    def __init__(self, first, last, sal):
        self.first = first
        self.last = last
        self.sal = sal

    def yrsal(self):
        s = self.sal * 12
        return s

In [10]:
emp1 = Employee('Riya','Banerjee',51000)

In [11]:
print(emp1.sal)

51000

In [12]:
emp2 = Employee('Natasha','Sharma',52000)

In [13]:
print(emp2.first)

Natasha

In [14]:
help(Employee)

Help on class Employee in module __main__:

class Employee(builtins.object)
 |  Employee(first, last, sal)
 |
 |  Methods defined here:
 |
 |  __init__(self, first, last, sal)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  yrsal(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

In [15]:
emp1.yrsal()

612000

In [16]:
emp2.yrsal()

624000

## Encapsulation

In [18]:
class Employee:
    
    def __init__(self, first, last, sal):
        self.first = first
        self.last = last
        self.__sal = sal  #private variable

    def showsal(self):
        return f"salary is {self.__sal}"

In [19]:
emp1 = Employee('Riya','Banerjee',51000)
emp2 = Employee('Natasha','Sharma',52000)

In [20]:
emp1.first

'Riya'

In [21]:
emp1.sal

AttributeError: 'Employee' object has no attribute 'sal'

In [22]:
emp1.showsal()

'salary is 51000'

In [24]:
""" 
create a class called person
objects having attributes name,age,city,hobby(3 objects)
make city a private variable
create a method which will show all the info upon calling
""";

In [26]:
class Person:
    def __init__(self, name, age, city, hobby):
        self.name = name
        self.age = age
        self.__city = city     #private variable
        self.hobby = hobby  
        
    def info(self):
        return f"{self.name} {self.age} {self.__city} {self.hobby}"

In [28]:
p1 = Person('Sanjeev',25,'Nashik','Reading')

In [30]:
p1.info()

'Sanjeev 25 Nashik Reading'

# Inheritance

In [33]:
class person:
    insti = 'Mitu' # class variable # for every object

    def __init__ (self,age,ht):
        self.age = age
        self.ht = ht

    def show(self):
        print('age:',self.age,'height:',self.ht,'and',self.insti)

In [35]:
p1 = person(20,5.7)

In [37]:
p1.show()

age: 20 height: 5.7 and Mitu

In [39]:
class Prajakta(person):
    pass

In [41]:
a1 = Prajakta(25,5.2)

In [43]:
a1.show()

age: 25 height: 5.2 and Mitu

# Polymorphism

In [46]:
# allow objects of different classes to be treated as
# object of coman species
# done with method overriding

In [48]:
# base class

class Animal:
    def sound(self):
        return 'sound of an animal'

In [50]:
# child class/ derived classes

class Sparrow(Animal):
    def sound(self):
        return 'chiw chiw'

class Dog(Animal):
    def sound(self):
        return 'woof woof'

In [52]:
#function to demonstrate polymorphism

def an_speech(animal):   #  passing object as paramrter
    print(animal.sound())

In [54]:
s1 = Sparrow()
d1 = Dog()

In [56]:
an_speech(s1)

chiw chiw

# str

In [59]:
# __str__ =>string representation of an object

In [61]:
class person:
    insti = 'Mitu' # class variable # for every object

    def __init__ (self,age,ht):
        self.age = age
        self.ht = ht

    def __str__(self):
        return f"age:{self.age} ht:{self.ht}"

In [63]:
dir(person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'insti']

In [65]:
o1 = person(23,5.5)

In [67]:
print(o1)

age:23 ht:5.5